<div class="input">
    <label class="input__container">
        <div class="input__label">{{label}}</div>
        <input
                type="{{type}}"
                class="input__element input__element_{{variant}}"
                placeholder="{{placeholder}}"
                name="{{name}}"
        />
    </label>
</div>
